################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WzjFallFlat/.vs/*
/WzjFallFlat/Binaries/*
/.vs/*
/WzjFallFlat/WzjFallFlat.VC.db
/WzjFallFlat/Intermediate/*
/WzjFallFlat/Saved/*
/WzjFallFlat/Build/*
